<h1>Simple Todo List</h1>
<form action="" method="POST">
    <input type="text" name="title" placeholder="Task">
    <input type="text" name="description" placeholder="Description">
    <button type="submit">Add Task</button>
    <hr>
</form>